# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add. / git add .
3. message / massage

## 01. 변수

```
var_name = value
```

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용해서 선언
- 키워드는 불가능

In [4]:
a = 100

In [6]:
a

100

In [7]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
seoul_dust_rate = 150

1.1 number

In [11]:
a = 100000

In [12]:
a

100000

In [15]:
type(a)

int

In [19]:
b = 1.1

In [20]:
b

1.1

In [22]:
type(b)

float

In [24]:
c = 1 + 1j

In [27]:
c

(1+1j)

In [29]:
type(c)

complex

## 1.2 boolean

In [34]:
a = True

In [35]:
a

True

In [37]:
type(a)

bool

In [39]:
b = False

In [40]:
b

False

In [41]:
type(b)

bool

### 1.3 string
- `'`,`"`를 이용하여 표현

In [43]:
a = 'hello'

In [47]:
b = "hi"

In [48]:
a

'hello'

In [49]:
b

'hi'

In [51]:
print('hello my name is "sieon"')

hello my name is "sieon"

In [53]:
print('hello my name is \'sieon\'')

hello my name is 'sieon'

In [59]:
a = '''
hello
world
hi
'''

In [60]:
a

'\nhello\nworld\nhi\n'

In [63]:
a = 10
b = '홍길동은 a살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string

In [66]:
age = 10

In [67]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [68]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [69]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

# 02 연산자

# 2.1 산술연산자

In [76]:
a = 5
b = 2

In [77]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
3
10
2.5

In [80]:
print(a ** b)
print(a // b)
print(a % b)

25
2
1

In [84]:
result = divmod(a, b)
print(result)

(2, 1)

## 2.2 비교연산자

In [85]:
a = 5
b = 10

In [89]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [92]:
print(a == b)
print(a != b)

False
True

In [93]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 현재 상태를 부정

In [96]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [97]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [98]:
a = True
print(not a)

False

In [102]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [106]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합 연산자

In [154]:
a = 2
b = 3

In [155]:
a = a + b
a = a - b
a = a * b
a = a / b

In [156]:
a += b
a -= b
a *= b
a /= b
a %= b
a **= b

In [157]:
a

8.0

In [158]:
a

8.0

In [159]:
b

3

## 2.5 기타연산자

In [160]:
a = 'hi'
b = 'hello'

In [161]:
# concatenation
print(a + b)

hihello

In [162]:
a = [1, 2, 3]
b = [2, 3, 4]

In [164]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [166]:
print(1 in a)
print(10 in a)

True
False

In [177]:
a = 123456
b = 123456

In [181]:
print(a == b)
print(a is b)

True
False

### 연산자 우선순위
 0. ()를 통해서 그룹
 1. **
 2. 산술연산자(*, /)
 3. 산술연산자(+, -)
 4. 비교연산자, in, is
 5. not
 6. and
 7. or

In [182]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환

##3.1 암시적 형변환

In [185]:
a = True
b = False
c = 1

In [187]:
print(a + b)
print(a + c)

1
2

## 3.2 명시적 형변환
- int()
- float()
- str()
- bool()

In [194]:
a = 1
b = '반'

In [195]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [196]:
print(str(a) + b)

1반

In [200]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [201]:
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [202]:
a = 1
b = 0
c = 123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [205]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조 (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. List
2. Tuple
3. Range
4. String

## 4.1 List(리스트 배열)
- 선언 : `var_name = [value1, value2, value3, ...]`
- 접근 : var_name[index]

In [1]:
1 = []
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (700851701.py, line 1)

In [2]:
l = []
print(l]
print(type(l))

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2365256728.py, line 2)

In [3]:
l = []
print(l)

[]

In [4]:
print(type(l))

<class 'list'>

In [9]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
서울
['서울', '대구', '부산']

## 4.2 Tupel(튜플)
- 선언 : `var_name = (value1, value2, value3, ...)`
- 접근 : var_name[index]
- 수정불가능하다(immutable)

In [11]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

location[2] = '부산'

('서울', '대전', '대구')
서울

TypeError: 'tuple' object does not support item assignment

## 4.3 Range 
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위

In [15]:
lotto = range(45)
print(lotto)
print(list(lotto))

lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]
range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [17]:
even = range(2, 20, 2)
print(list(even))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
range(2, 20, 2)

In [19]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고

In [20]:
s = 'hi my name is choi'
print(s[0])

h

## 4.5 시퀀스에서 활용가능한 연산/함수

In [21]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple =(6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [22]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [23]:
# slicing
# var_name[index1 : index2]
print(my_list[0:2])
print(my_tuple[0:2])
print(my_range[0:2])
print(my_string[0:2])

['a', 'b']
(6, 7)
range(0, 2)
가나

In [28]:
# 인덱스 생략
print(my_list[3 : ])

['d', 'e']

In [29]:
# 음수 인덱스
print(my_list[-1])
print(my_list[-3:-1])

e
['c', 'd']

In [32]:
# step
print(my_list[ :: 2 ])

['a', 'c', 'e']

In [37]:
# in
print(1 in my_list)
print('a' in my_list)
print('a' not in my_list)
print('z' not in my_list)

False
True
False
True

In [39]:
# concaternnation
print(my_list + [1,2,3,4,5])
print(my_tuple + (1,2,3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [42]:
# *
print(my_list * 2)
print('a' * 5)

# [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
print([0] * 10)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [43]:
len(my_list)

5

In [44]:
max(my_list)

'e'

In [45]:
min(my_list)

'a'

## 5. 시퀀스형이 아닌 자료구조

## 5.1 set
- 수학에서의 집합과 비슷한 개념

- 선언 : var_name = (value1, value2, value3, ...)

In [54]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [55]:
print(my_set_a - my_set_b)

{2, 4}

## 5.2 Dictionary
- 선언 : var_name = {key1: value1, key2: value2, key3: value3, ...}
- 접근 : var_name[key]

In [59]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [65]:
my_info = {
    'name': 'sieon', 
    'hobby': 'soccer',
    'location': 'seoul',
    'age': 10,
    'skill': ['lol','fifa']
}

In [67]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1])

sieon
10
fifa

**데이터 타입**
- Number
- Bollean
- String

**자료구조**
- 시퀀스
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'string' : immutable

- 시퀀스가 아닌 것
1. {Set} : mutable
2. {dictionary} : mutable